# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

/.quarto/
**/*.quarto_ipynb
.DS_Store

W26-Phil305-site/.DS_Store
W26-Phil342-site/.DS_Store

site_libs/.DS_Store
W26-Phil305/gt_toc.pdf
W26-Phil305/gt_Ch1.pdf
W26-Phil305/Phil444-W24/13.pdf
W26-Phil305/Phil444-W24/13.qmd
W26-Phil305/Phil444-W24/14.html
W26-Phil305/Phil444-W24/14.pdf
W26-Phil305/Phil444-W24/14.qmd
W26-Phil305/Phil444-W24/15.html
W26-Phil305/Phil444-W24/15.pdf
W26-Phil305/Phil444-W24/15.qmd
W26-Phil305/Phil444-W24/16.html
W26-Phil305/Phil444-W24/16.pdf
W26-Phil305/Phil444-W24/16.qmd
W26-Phil305/Phil444-W24/17.html
W26-Phil305/Phil444-W24/17.pdf
W26-Phil305/Phil444-W24/17.qmd
W26-Phil305/Phil444-W24/18.html
W26-Phil305/Phil444-W24/18.pdf
W26-Phil305/Phil444-W24/images/3_1a.png
W26-Phil305/Phil444-W24/images/3_3a.png
W26-Phil305/Phil444-W24/images/3_3b.png
W26-Phil305/Phil444-W24/images/3_3c.png
W26-Phil305/Phil444-W24/images/3_6.png
W26-Phil305/Phil444-W24/images/04_01.png
W26-Phil305/Phil444-W24/images/04_02.png
W26-Phil305/Phil444-W24/images/04_03.png
W26-Phil305/Phil444-W24/images/04_04.png
W26-Phil305/Phil444-W24/images/04_05.png
W26-Phil305/Phil444-W24/images/04_06.png
W26-Phil305/Phil444-W24/images/04_07.png
W26-Phil305/Phil444-W24/images/04_08.png
W26-Phil305/Phil444-W24/images/04_09.png
W26-Phil305/Phil444-W24/images/Axelrod.jpg
W26-Phil305/Phil444-W24/images/cards.jpg
W26-Phil305/Phil444-W24/images/chess_board.jpg
W26-Phil305/Phil444-W24/images/chess_computer.jpg
W26-Phil305/Phil444-W24/images/dice.jpg
W26-Phil305/Phil444-W24/images/diplomacy.gif
W26-Phil305/Phil444-W24/images/diplomacy.pdf
W26-Phil305/Phil444-W24/images/hotelling.jpg
W26-Phil305/Phil444-W24/images/mehta_boys.png
W26-Phil305/Phil444-W24/images/mehta_colors.png
W26-Phil305/Phil444-W24/images/mehta_numbers.png
W26-Phil305/Phil444-W24/images/raith.jpg
W26-Phil305/Phil444-W24/images/rps.png
W26-Phil305/Phil444-W24/images/sealed_envelope.jpg
W26-Phil305/Phil444-W24/images/The_Evolution_of_Cooperation.jpg
W26-Phil305/Phil444-W24/images/01/qrcode_shorturl_Dwppx.png
W26-Phil305/Phil444-W24/images/01/qrcode_shorturl_ez44V.png
W26-Phil305/Phil444-W24/images/01/qrcode_shorturl_GkbbP.png
W26-Phil305/Phil444-W24/13.html
W26-Phil305/GT_Ch2.pdf
W26-Phil305/GT_Ch3.pdf
W26-Phil305/GT_Ch6.pdf
W26-Phil305/todo.md
W26-Phil342/Rosenstock.pdf
.claude/worktrees/
W26-Phil342/Rubin - Citation Gaps.pdf
W26-Phil342/Thoma2015.pdf
